# This file defines the persons who will be assigned as reviewers for PRs that
# modify particular files in the repo. The PR can be merged when approved by at 
# least one codeowner. However, all Qiskit team members can (and should!) review the PRs.

# Global rule, unless specialized by a later one
* @ajavadia @kdk @mtreinish @1ucian0

# Individual folders on root directory
/tools/               @mtreinish @kdk
/examples/            @jaygambetta @mtreinish @maddy-tod
test/                 @ajavadia @mtreinish @kdk @1ucian0
docs/                 @nonhermitian @mtreinish

# Qiskit folders (also their corresponding tests)
circuit/              @ajavadia @kdk @ewinston @1ucian0 @mtreinish
extensions/           @ajavadia @kdk @ewinston @1ucian0 @mtreinish
dagcircuit/           @ajavadia @kdk @1ucian0 @maddy-tod
providers/            @ajavdia @mtreinish @diego-plan9
basicaer/             @chriseclectic @ajavadia
pulse/                @lcapelluto @taalexander @eggerdj @nkanazawa1989
scheduler/            @lcapelluto @taalexander @eggerdj @nkanazawa1989
quantum_info/         @chriseclectic @ajavadia
qi/                   @chriseclectic @ajavadia
result/               @diego-plan9 @jyu00 @taalexander @mtreinish @ajavadia
schemas/              @diego-plan9 @dcmckayibm
transpiler/           @ajavadia @kdk @1ucian0 @itoko @mtreinish
assembler/            @ajavadia @kdk @diego-plan9 @taalexander @mtreinish
qobj/                 @diego-plan9 @jyu00 @taalexander @kdk
validation/           @ajavadia @diego-plan9 @taalexander @mtreinish
visualization/        @nonhermitian @mtreinish @1ucian0 @maddy-tod @ajavadia
