# This file defines the persons who will be assigned as reviewers for PRs that
# modify particular files in the repo. The PR can be merged when approved by at 
# least one codeowner. However, all Qiskit team members can (and should!) review the PRs.

# Individual folders on root directory
/tools/               @mtreinish @kdk
/examples/            @jaygambetta @mtreinish @maddy-tod
test/                 @ajavadia @mtreinish @kdk @1ucian0

# Qiskit folders (also their corresponding tests)
assembler/            @diego-plan @taalexander @mtreinish
circuit/              @ajavadia @kdk @ewinston @jaygambetta @1ucian0
compiler/             @jaygambetta @ajavadia @kdk
converters/           @mtreinish @1ucian0
dagcircuit/           @ajavadia @kdk @1ucian0 @maddy-tod
extensions/           @ajavadia @kdk @ewinston
providers/            @diego-plan9 @mtreinish
basicaer/             @chriseclectic @ajavadia
pulse/                @lcapelluto @taalexander @eggerdj @nkanazawa1989
qobj/                 @diego-plan9 @jyu00 @taalexander
quantum_info/         @chriseclectic @jaygambetta @levbishop @ajavadia
qi/                   @chriseclectic @ajavadia
result/               @diego-plan9 @jyu00 @taalexander @mtreinish
schemas/              @diego-plan9 @dcmckayibm
qiskit/tools/         @nonhermitian
transpiler/           @ajavadia @kdk @1ucian0 @itoko @mtreinish
validation/           @diego-plan9 @atilag
visualization/        @nonhermitian @mtreinish @1ucian0 @maddy-tod
