# This file defines the persons that will be assigned as reviewers for PRs that
# modify a particular file in the repo. Please note it is just a convention
# for the GitHub interface, and any member of the Qiskit team can (and should!)
# review as well.

# Real code owners.
#* @jaygambetta @ismaelfaro

# Generic rule for the repository. This pattern is actually the one that will
# apply unless specialized by a later rule
* @ajavadia @ewinston @atilag @delapuente @diego-plan9 @nonhermitian @mtreinish @1ucian0 @taalexander @jaygambetta @kdk @chriseclectic

# Individual folders on root directory
# /cmake     @ajavadia @atilag @diego-plan9
# /doc       @jaygambetta @ajavadia @atilag @diego-plan9
# /examples  @jaygambetta @ajavadia @atilag @diego-plan9
# /src       @chriseclectic @ajavadia @atilag @diego-plan9

# qiskit folders
# qiskit/qasm/*        @1ucian0 @ajavadia @ewinston @atilag @delapuente @diego-plan9
# qiskit/tools/*       @antoniomezzacapo @chriseclectic @ajavadia @ewinston @atilag @delapuente @diego-plan9
# qiskit/schemas/*     @jaygambetta @ajavadia @ewinston @atilag @delapuente @diego-plan9 @dcmckayibm
# qiskit/transpiler/*  @1ucian0 @ajavadia @delapuente @atilag @diego-plan9 @nonhermitian @kdk
