# Default all text files to use LF line endings
* text eol=lf

visualization/references/*.{txt,tex} text eol=auto
# Mark PNG files as binary so git doesn't try to mess with the line endings
*.png binary
