# Entries in this file are made for two reasons:
# 1) to merge multiple git commit authors that correspond to a single author
# 2) to change the canonical name and/or email address of an author.
#
# Format is:
#     Canonical Name <Canonical@email> commit name <commit@email>
#     \--------------+---------------/ \----------+-------------/
#                 replace                       find
# See also: 'git shortlog --help' and 'git check-mailmap --help'.
#
# If you don't like the way your name is cited by qiskit, please feel free to
# open a pull request against this file to set your preferred naming.
#
# Note that each qiskit element uses its own mailmap so it may be necessary to
# propagate changes in other repos for consistency.
#
Abdón Rodríguez Davila <a@abdonrd.com> <a@abdonrd.com>
Abigail J. Cross <across@us.ibm.com>
Albert Frisch <albert.frisch@de.ibm.com>
Albert Frisch <albert.frisch@de.ibm.com> <alfr@de.ibm.com>
Ali Javadi-Abhari <ali.javadi@ibm.com> <ajavadia@users.noreply.github.com>
Ali Javadi-Abhari <ali.javadi@ibm.com> <ajavadia@princeton.edu>
Andrew W. Cross <awcross@us.ibm.com>
Andrew W. Cross <awcross@us.ibm.com> Andrew Cross <awcross@Andrews-MacBook-Pro.local>
Andrew W. Cross <awcross@us.ibm.com> Andrew Cross <awcross@andrews-mbp.watson.ibm.com>
Anna Phan <9410731+attp@users.noreply.github.com> <anna.phan@au1.ibm.com> 
Antonio D. Córcoles-Gonzales <adcorcol@us.ibm.com>
Antonio Mezzacapo <30698465+antoniomezzacapo@users.noreply.github.com> <amezzac@us.ibm.com>
Carmen Recio Valcarce <car_rv@outlook.es> <49230820+carmenrv@users.noreply.github.com>
Chris Culver <chris.cb.culver@gmail.com>
Christian Claus <cclauss@bluewin.ch>
Christophe Vuillot <c.vuillot@tudelft.nl>
Christopher J. Wood <cjwood@us.ibm.com>
Daniel Egger <38065505+eggerdj@users.noreply.github.com>
Diego M. Rodríguez <diego.plan9@gmail.com>
Erick Winston <ewinston@us.ibm.com>
Fran Cabrera <francabrera@users.noreply.github.com> <fcabrera@us.ibm.com> 
Fran Cabrera <francabrera@users.noreply.github.com> Fran Cabrera <francabrera@Frans-MacBook-Pro.local>
Gadi Aleksandrowicz <gadial@gmail.com>
Ismael Faro Sertage <ismael.faro1@ibm.com> <ismael.faro.sertage@gmail.com>
Ismael Faro Sertage <ismael.faro1@ibm.com> <ismael.faro1@ibm.com>
Ismail Yunus Akhalwaya <ismaila@za.ibm.com>
Ismail Yunus Akhalwaya <ismaila@za.ibm.com> <30803146+ismaila-at-za-ibm@users.noreply.github.com>
Jack J. Woehr <4604036+jwoehr@users.noreply.github.com>
Jay M. Gambetta <jay.gambetta@us.ibm.com>
Jerry M. Chow <chowmj@us.ibm.com>
Jesús Pérez <jesusper@us.ibm.com> <jesusprubio@gmail.com>
Jonathan A. Wildstrom <34069155+jwildstr-ibm@users.noreply.github.com>
Jonathan A. Wildstrom <34069155+jwildstr-ibm@users.noreply.github.com> <jwildstr@us.ibm.com>
Jorge Carballo <carballo@us.ibm.com> <jelcaf@gmail.com>
Juan Cruz-Benito <juan.cruz@ibm.com>
Juan Gomez-Mosquera <atilag@gmail.com>
Juan Gomez-Mosquera <atilag@gmail.com> <Juan.Gomez1@ibm.com>
Kevin Krsulich <kevin.krsulich@ibm.com> <kevin@krsulich.net>
Lev S. Bishop <18673315+levbishop@users.noreply.github.com>
Luciano Bello <luciano.bello@ibm.com> <lbello@gmail.com>
Luciano Bello <luciano.bello@ibm.com> <luciano.bello@ibm.com>
Luciano Bello <luciano.bello@ibm.com> <luciano@debian.org>
Maddy Tod <40489777+maddy-tod@users.noreply.github.com>
Marco Pistoia <pistoia@us.ibm.com> <mpistoia@gmail.com>
Martin Sandberg <martinos@us.ibm.com>
Mathieu Tillet <50137038+mtillet@users.noreply.github.com>
Matthew Treinish <mtreinish@kortar.org>
Matt Stypulkoski <50181769+Matt-Stypulkoski@users.noreply.github.com>
Max Reuter <Max.Reuter@ibm.com>
Naoki Kanazawa <39517270+nkanazawa1989@users.noreply.github.com>
Paul Nation <nonhermitian@gmail.com>
Peng Liu <34400304+liupibm@users.noreply.github.com>
Pradeep Niroula <niroulapradeep@gmail.com> <npdeep@users.noreply.github.com>
Prakash Murali <prakashmurali@gmail.com>
Rafal Wieczorek <kenorb@users.noreply.github.com>
Raphaël Lambert <49641842+rfclambert@users.noreply.github.com>
Rudy Raymond <rudyhar@jp.ibm.com> <rudyhar@jp.ibm.com>
Salvador de la Puente González <neo.salvador@gmail.com> <salva@unoyunodiez.com>
Ninad Sathaye <sathayen@users.noreply.github.com>
Thomas Alexander <talexander@ibm.com> <thomasalexander2718@gmail.com>
Toshinari Itoko <itoko@jp.ibm.com>
Yael Ben-Haim <yaelbh@il.ibm.com>
