# Entries in this file are made for two reasons:
# 1) to merge multiple git commit authors that correspond to a single author
# 2) to change the canonical name and/or email address of an author.
#
# Format is:
#     Canonical Name <Canonical@email> commit name <commit@email>
#     \--------------+---------------/ \----------+-------------/
#                 replace                       find
# See also: 'git shortlog --help' and 'git check-mailmap --help'.
#
# If you don't like the way your name is cited by qiskit, please feel free to
# open a pull request against this file to set your preferred naming.
#
# Note that each qiskit element uses its own mailmap so it may be necessary to
# propagate changes in other repos for consistency.
#
Abdón Rodríguez Davila <a@abdonrd.com> <a@abdonrd.com>
Abigail J. Cross <across@us.ibm.com>
Adrien Suau <adrien.suau@cerfacs.fr>
Albert Frisch <albert.frisch@de.ibm.com>
Albert Frisch <albert.frisch@de.ibm.com> <alfr@de.ibm.com>
Ali Javadi-Abhari <ali.javadi@ibm.com> <ajavadia@users.noreply.github.com>
Ali Javadi-Abhari <ali.javadi@ibm.com> <ajavadia@princeton.edu>
Alejandro Pozas-Kerstjens <physics@alexpozas.com> <apozas@users.noreply.github.com>
Almudena Carrera Vazquez <acv@zurich.ibm.com> <almudenacarreravazquez@hotmail.com>
Andrew W. Cross <awcross@us.ibm.com>
Andrew W. Cross <awcross@us.ibm.com> Andrew Cross <awcross@Andrews-MacBook-Pro.local>
Andrew W. Cross <awcross@us.ibm.com> Andrew Cross <awcross@andrews-mbp.watson.ibm.com>
Anna Phan <9410731+attp@users.noreply.github.com> <anna.phan@au1.ibm.com>
Annanay Kapila <k.annanay@gmail.com>
Antonio D. Córcoles-Gonzales <adcorcol@us.ibm.com>
Antonio Mezzacapo <30698465+antoniomezzacapo@users.noreply.github.com> <amezzac@us.ibm.com>
Arijit Saha <59946663+Arijit02@users.noreply.github.com>
Atsushi Matsuo <47442626+a-matsuo@users.noreply.github.com>
Aziz Ngoueya <49644465+AzizNgoueya@users.noreply.github.com>
Ben Rosand <brosand@gmail.com>
Bhargav Vishnu <38890773+Bhargavishnu@users.noreply.github.com>
Carmen Recio Valcarce <car_rv@outlook.es> <49230820+carmenrv@users.noreply.github.com>
Chris Culver <chris.cb.culver@gmail.com>
Christa Zoufal <40824883+Zoufalc@users.noreply.github.com>
Christa Zoufal <40824883+Zoufalc@users.noreply.github.com> <ouf@zurich.ibm.com>
Christian Clauss <cclauss@me.com> <cclauss@bluewin.ch>
Christophe Vuillot <c.vuillot@tudelft.nl>
Christopher J. Wood <cjwood@us.ibm.com>
Corey Mendell <corey.mendell@gmail.com>
Daniel Egger <38065505+eggerdj@users.noreply.github.com>
Davide Facoetti <dfacoet@gmail.com>
Davide Ferrari <20130061+DavideFrr@users.noreply.github.com>
Dennis Liu <54714046+dennis-liu-1@users.noreply.github.com>
Dimitar Trenev <64981310+dtrenev@users.noreply.github.com>
Dhruv Bhatnagar <61590679+dhruvbhq@users.noreply.github.com>
Donny Greenberg <dongreenberg2@gmail.com>
Donny Greenberg <dongreenberg2@gmail.com> <donny@ibm.com>
Diego M. Rodríguez <diego.plan9@gmail.com>
Drew Risinger <drewrisinger@users.noreply.github.com>
Dmitri Maslov <34778124+dmitrimaslov@users.noreply.github.com>
Edwin Navarro <enavarro@comcast.net>
Erick Winston <ewinston@us.ibm.com>
Farai Mazhandu <35575882+faraimazh@users.noreply.github.com>
Fran Cabrera <francabrera@users.noreply.github.com> <fcabrera@us.ibm.com>
Fran Cabrera <francabrera@users.noreply.github.com> Fran Cabrera <francabrera@Frans-MacBook-Pro.local>
Franck Chevallier <fchevallier10@gmail.com>
Freya Shah <28627285+fs1132429@users.noreply.github.com>
Gadi Aleksandrowicz <gadial@gmail.com>
Gabriele Agliardi <72732327+gabrieleagl@users.noreply.github.com>
Gawel Kus <gawel.kus@ibm.com>
Gawel Kus <gawel.kus@ibm.com> <gawel@oc7832844175.ibm.com>
Georgios Tsilimigkounakis <45130028+georgios-ts@users.noreply.github.com>
Hiroshi Horii <horii@jp.ibm.com> <HORII@jp.ibm.com>
Hiroshi Horii <horii@jp.ibm.com> <hhorii@users.noreply.github.com>
Ian Gould <iangould@IANs-MacBook.local>
Igor Olegovich Sokolov <iso@zurich.ibm.com> <ISO@zurich.ibm.com>
Ismael Faro Sertage <ismael.faro1@ibm.com> <ismael.faro.sertage@gmail.com>
Ismael Faro Sertage <ismael.faro1@ibm.com> <ismael.faro1@ibm.com>
Ismail Yunus Akhalwaya <ismaila@za.ibm.com>
Ismail Yunus Akhalwaya <ismaila@za.ibm.com> <30803146+ismaila-at-za-ibm@users.noreply.github.com>
Jack J. Woehr <4604036+jwoehr@users.noreply.github.com>
Jake Lishman <jake.lishman@ibm.com> <jake@binhbar.com>
James Seaward <58116376+JamesSeaward@users.noreply.github.com>
Jan Müggenburg <jan.mueggenburg@ibm.com>
Jan Müggenburg <jan.mueggenburg@ibm.com> <jan@oc6058543760.ibm.com>
Jay M. Gambetta <jay.gambetta@us.ibm.com>
Jerry M. Chow <chowmj@us.ibm.com>
Jessica Wilson <jessicalostinspace@gmail.com>
Jesús Pérez <jesusper@us.ibm.com> <jesusprubio@gmail.com>
Johannes Weidenfeller <54772951+Knabberjoe@users.noreply.github.com>
Jonathan A. Wildstrom <34069155+jwildstr-ibm@users.noreply.github.com>
Jonathan A. Wildstrom <34069155+jwildstr-ibm@users.noreply.github.com> <jwildstr@us.ibm.com>
Jonathan Shoemaker <Jonathan-Shoemaker@ibm.com>
Jordan Connor <jordanhconnor@gmail.com>
Jorge Carballo <carballo@us.ibm.com> <jelcaf@gmail.com>
Juan Cruz-Benito <juan.cruz@ibm.com>
Juan Gomez-Mosquera <atilag@gmail.com>
Juan Gomez-Mosquera <atilag@gmail.com> <Juan.Gomez1@ibm.com>
Julien Gacon <jul@zurich.ibm.com>
Julien Gacon <jul@zurich.ibm.com> <jules.gacon@googlemail.com>
Kevin Krsulich <kevin.krsulich@ibm.com> <kevin@krsulich.net>
Lev S. Bishop <18673315+levbishop@users.noreply.github.com>
Luciano Bello <luciano.bello@ibm.com> <lbello@gmail.com>
Luciano Bello <luciano.bello@ibm.com> <luciano.bello@ibm.com>
Luciano Bello <luciano.bello@ibm.com> <luciano@debian.org>
Maddy Tod <40489777+maddy-tod@users.noreply.github.com>
Marco Pistoia <pistoia@us.ibm.com> <mpistoia@gmail.com>
Martin Sandberg <martinos@us.ibm.com>
Mathieu Tillet <50137038+mtillet@users.noreply.github.com>
Matthew Treinish <mtreinish@kortar.org>
Matt Stypulkoski <50181769+Matt-Stypulkoski@users.noreply.github.com>
Max Reuter <Max.Reuter@ibm.com>
Max Rossmannek <rmax@ethz.ch>
Mingi Ryu <mingiryu@msn.com>
Naoki Kanazawa <39517270+nkanazawa1989@users.noreply.github.com>
Nathan Shammah <nathan.shammah@gmail.com>
Ninad Sathaye <sathayen@users.noreply.github.com>
Nick Bronn <nick.bronn@gmail.com>
Oluwatobi Ogunbayo <tobyogunbayo@gmail.com>
Paco Martín Fernández <fmartinfdez@gmail.com>
Panagiotis Barkoutsos <bpa@zurich.ibm.com>
Panagiotis Barkoutsos <bpa@zurich.ibm.com> <pbarkoutsos@gmail.com>
Patrick Neuweiler <npatrick@ethz.ch> <56123073+neupat@users.noreply.github.com>
Paul Nation <nonhermitian@gmail.com>
Peng Liu <34400304+liupibm@users.noreply.github.com>
Pete Taylour <pete.taylour@gmail.com>
Pieter Eendebak <pieter.eendebak@gmail.com>
Pradeep Niroula <niroulapradeep@gmail.com> <npdeep@users.noreply.github.com>
Prakash Murali <prakashmurali@gmail.com>
Quintiii <46296978+IsidoreCarinae@users.noreply.github.com>
Raban Iten <itenr@ethz.ch>
Rafael Martín-Cuevas Redondo <r.martin-cuevas@alumnos.upm.es> <r.martinc@outlook.com>
Rafal Wieczorek <kenorb@users.noreply.github.com>
Raphaël Lambert <49641842+rfclambert@users.noreply.github.com>
Renier Morales <renier@users.noreply.github.com>
Richard Chen <chunfuchen@users.noreply.github.com>
Raphaël Lambert <49641842+rfclambert@users.noreply.github.com>
Romain Moyard <36766072+rmoyard@users.noreply.github.com>
Rudy Raymond <rudyhar@jp.ibm.com> <rudyhar@jp.ibm.com>
Ryan Wood <ryanwood1193@gmail.com>
Salvador de la Puente González <neo.salvador@gmail.com> <salva@unoyunodiez.com>
Samuel Bosch <BoschSamuel@users.noreply.github.com>
Scott Kelso <scottkelso07@hotmail.com>
Scott Lawrence <bytbox@gmail.com>
Sean Dague <sean@dague.net>
Seif Mostafa <csseifms@gmail.com>
Seyon Sivarajah <seyon.sivarajah@cambridgequantum.com>
Shaohan Hu <shaohan.hu@ibm.com>
Shaohan Hu <shaohan.hu@ibm.com> <Shaohan.Hu@ibm.com>
Soolu Thomas <soolu.thomas@ibm.com> <soolu.elto@gmail.com>
Srujan Meesala <srujanm@gmail.com>
Stefan Woerner <wor@zurich.ibm.com> <stefan@swoerner.de>
Stefan Woerner <wor@zurich.ibm.com> <41292468+stefan-woerner@users.noreply.github.com>
Stephen Wood <40241007+woodsp-ibm@users.noreply.github.com> <woodsp@us.ibm.com>
Sumit Puri <er.sumitpuri@gmail.com>
Takashi Imamichi <31178928+t-imamichi@users.noreply.github.com>
Tharrmashastha SAPV <51048173+TharrmashasthaPV@users.noreply.github.com>
Ninad Sathaye <sathayen@users.noreply.github.com>
Thomas Alexander <talexander@ibm.com> <thomasalexander2718@gmail.com>
Toshinari Itoko <itoko@jp.ibm.com>
Viktor Prutyanov <viktor.prutyanov@phystech.edu>
Vismai Khanderao <59114226+Vismai-Khanderao@users.noreply.github.com>
Vojtech Havlicek <Vojtech.Havlicek@ibm.com>
Wei Hu <weihu@cs.virginia.edu>
Wes Turner <wes.turner@gmail.com>
Will Bang <will.h.bang@gmail.com>
Yael Ben-Haim <yaelbh@il.ibm.com>
Yukio Siraichi <sir.yukio@gmail.com>
Yunho Maeng <yunho.maeng.dc@gmail.com>
Yunong Shi <synisnot@gmail.com>
Sebastian Brandhofer <sebastian.brandhofer@gmail.com>
Animesh N Dangwal <animesh.leo@gmail.com>
Faisal Debouni <faisal@megoapps.com>
Juan Luis Sánchez Toural <toural@es.ibm.com>
yang.luh <34480044+LuhangYang@users.noreply.github.com>
Yotam Vaknin <Yotam.Vaknin@Ibm.com> <52409900+yotamvakninibm@users.noreply.github.com>
Yotam Vaknin <Yotam.Vaknin@Ibm.com> <yotamvak@lnx-quantum.openstack.haifa.ibm.com>
Łukasz Herok <lukasz.herok@gmail.com>
