# This code is part of Qiskit.
#
# (C) Copyright IBM 2017.
#
# This code is licensed under the Apache License, Version 2.0. You may
# obtain a copy of this license in the LICENSE.txt file in the root directory
# of this source tree or at http://www.apache.org/licenses/LICENSE-2.0.
#
# Any modifications or derivative works of this code must retain this
# copyright notice, and modified files need to carry a notice indicating
# that they have been altered from the originals.

notifications:
  email: false

cache:
  pip: true
  directories:
    - .stestr

os: linux
dist: bionic
language: python
python: 3.7
install:
  # Install step for jobs that require compilation and qa.
  - pip install -U -r requirements.txt -c constraints.txt
  - pip install -U -r requirements-dev.txt coveralls -c constraints.txt
  - pip install -c constraints.txt -e .
  - pip install "qiskit-ibmq-provider" -c constraints.txt
script:
  # Compile the executables and run the tests.
  - python setup.py build_ext --inplace
  - export PYTHONHASHSEED=$(python -S -c "import random; print(random.  randint(1, 4294967295))")
  - echo "PYTHONHASHSEED=$PYTHONHASHSEED"
  - stestr run
after_failure:
    - python tools/report_ci_failure.py

stages:
  - name: deploy
    if: tag IS blank
  - name: tests
    if: tag IS blank

jobs:
  fast_finish: true
  allow_failures:
    - name: Randomized tests
  include:
    - name: Python 3.6 Tests and Coverage Linux
      stage: tests
      python: 3.6
      env:
        - PYTHON="coverage run --source qiskit --parallel-mode"
      after_success:
        - coverage combine || true
        - coveralls || true
        - coverage xml || true
        - pip install diff-cover || true
        - diff-cover --compare-branch master coverage.xml || true

    - name: Python 3.6 Tests (Networkx)
      python: 3.6
      stage: tests
      install:
        # Install step for jobs that require compilation and qa.
        - pip install -U -r requirements.txt -c constraints.txt
        - pip install -U -r requirements-dev.txt coveralls -c constraints.txt
        - pip install -c constraints.txt -e .
        - pip install "qiskit-ibmq-provider" -c constraints.txt
        - pip install "retworkx>=0.3.0"
      env:
        - USE_RETWORKX="N"

    # Randomized testing
    - name: Randomized tests
      stage: tests
      cache:
        pip: true
        directories:
        - .hypothesis
      script:
      - pip install -U pip
      - python setup.py build_ext --inplace
      - pip install "qiskit-aer"
      - make test_randomized
    # non-x86 wheel builds
    - stage: deploy
      arch: arm64
      services:
        - docker
      before_install:
        - echo ""
      install:
        - echo ""
      env:
        - CIBW_BEFORE_BUILD="pip install -U Cython"
        - CIBW_SKIP="cp27-* cp34-*"
        - TWINE_USERNAME=qiskit
        - CIBW_TEST_COMMAND="python {project}/examples/python/stochastic_swap.py"
      if: tag IS blank
      script:
        - sudo pip install -U twine cibuildwheel
        - cibuildwheel --output-dir wheelhouse
#        - twine upload wheelhouse/*
    - stage: deploy
      arch: ppc64le
      services:
        - docker
      before_install:
        - echo ""
      install:
        - echo ""
      env:
        - CIBW_BEFORE_BUILD="pip install -U Cython"
        - CIBW_SKIP="cp27-* cp34-*"
        - TWINE_USERNAME=qiskit
        - CIBW_TEST_COMMAND="python {project}/examples/python/stochastic_swap.py"
      if: tag IS blank
      script:
        - sudo pip install -U twine cibuildwheel
        - cibuildwheel --output-dir wheelhouse
#        - twine upload wheelhouse/*
    - stage: deploy
      arch: s390x
      services:
        - docker
      before_install:
        - echo ""
      install:
        - echo ""
      env:
        - CIBW_BEFORE_BUILD="pip install -U Cython"
        - CIBW_SKIP="cp27-* cp34-*"
        - TWINE_USERNAME=qiskit
        - CIBW_TEST_COMMAND="python {project}/examples/python/stochastic_swap.py"
      if: tag IS blank
      script:
        - sudo pip install -U twine cibuildwheel
        - cibuildwheel --output-dir wheelhouse
#        - twine upload wheelhouse/*
