[package]
name = "qiskit-terra"
version = "0.23.2"
edition = "2021"
rust-version = "1.56.1"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[lib]
name = "qiskit_accelerate"
crate-type = ["cdylib"]

[dependencies]
rayon = "1.6"
numpy = "0.18.0"
rand = "0.8"
rand_pcg = "0.3"
rand_distr = "0.4.3"
ahash = "0.8.0"
num-complex = "0.4"
num-bigint = "0.4"
rustworkx-core = "0.12"

[dependencies.pyo3]
version = "0.18.1"
features = ["extension-module", "hashbrown", "num-complex", "num-bigint", "indexmap"]

[dependencies.ndarray]
version = "^0.15.6"
features = ["rayon"]

[dependencies.hashbrown]
version = "0.12.3"
features = ["rayon"]

[dependencies.indexmap]
version = "1.7"
features = ["rayon"]

[profile.release]
lto = 'fat'
codegen-units = 1
