# Where component owners are known, add them here.

qiskit/core/* @ewinston @awcross @pacomf @jaygambetta @ismael
qiskit/core/simulators/* @ewinston
qiskit/tutorial/* @ewinston @jaygambetta
qiskit/doc/* @ewinston @pacomf

qiskit/tools/qcvv/* @cjwood
qiskit/tools/qi/* @cjwood
qiskit/tools/apps/* @amezzac
