# There are minor differences in output between pydot 2, 3 and 4 for
# things like the pass-manager drawer.  This is totally fine for general
# usage, but our test suite uses an exact reference file that uses the
# pydot 4 output, so we need to enforce that during tests.
pydot>=4.0.0

# z3-solver 5.0 fails to install/load in CI on macOS 15 / Python 3.10 jobs.  See
# https://github.com/Qiskit/qiskit/issues/16601 for the current state.
z3-solver<5.0; sys_platform == "darwin"
