include LICENSE.txt
include requirements.txt
include qiskit/qasm/libs/*.inc
include qiskit/VERSION.txt
include qiskit/visualization/circuit/styles/*.json
recursive-include qiskit/providers/fake_provider/backends *.json

# Include the tests files.
recursive-include test *.py
include test/python/qasm/*.qasm
include test/python/visualization/references/*.png
include test/python/notebooks/*.ipynb

include Cargo.toml
include Cargo.lock
recursive-include crates *
