include qiskit/qasm/libs/*.inc
recursive-include src/qiskit-simulator *
include qiskit/backends/qiskit_simulator
include qiskit/backends/qiskit_simulator.exe
include qiskit/backends/*.dll
include CMakeLists.txt
include cmake/*.cmake
include setup.py.in
