include qiskit/qasm/libs/*.inc
recursive-include src/qasm-simulator-cpp *
include qiskit/backends/aer/qasm_simulator_cpp
include qiskit/backends/aer/qasm_simulator_cpp.exe
include qiskit/backends/aer/*.dll
include qiskit/schemas/*json
include qiskit/VERSION.txt
include CMakeLists.txt
include cmake/*.cmake
include setup.py.in
