[build-system]
requires = ["setuptools", "wheel", "setuptools-rust"]
build-backend = "setuptools.build_meta"

[tool.black]
line-length = 100
target-version = ['py37', 'py38', 'py39', 'py310', 'py311']

[tool.cibuildwheel]
manylinux-x86_64-image = "manylinux2014"
manylinux-i686-image = "manylinux2014"
skip = "pp* cp36-* *musllinux*"
test-skip = "cp310-win32 cp310-manylinux_i686 cp311-win32 cp311-manylinux_i686"
test-command = "python {project}/examples/python/stochastic_swap.py"
# We need to use pre-built versions of Numpy and Scipy in the tests; they have a
# tendency to crash if they're installed from source by `pip install`, and since
# Numpy 1.22 there are no i686 wheels, so we force pip to use older ones without
# restricting any dependencies that Numpy and Scipy might have.
before-test = "pip install --only-binary=numpy,scipy numpy scipy"

[tool.cibuildwheel.linux]
before-all = "yum install -y wget && {package}/tools/install_rust.sh"
environment = 'PATH="$PATH:$HOME/.cargo/bin" CARGO_NET_GIT_FETCH_WITH_CLI="true"'


[tool.ruff]
line-length=105

[tool.ruff.per-file-ignores]
"__init__.py" = ["F401", "E402"] # imported but unused, Module level import not at top of file
"qiskit/circuit/library/__init__.py" = ["F403"] # import * used
"qiskit/extensions/__init__.py" = ["F403"]
"qiskit/providers/fake_provider/__init__.py" = ["F403"]
"qiskit/visualization/pulse/__init__.py" = ["F403"]
"qiskit/opflow/operator_globals.py" = ["E741"] # Ambiguous variable name `I`
"qiskit/quantum_info/operators/random.py" = ["F401"] # Should be fixed.
"qiskit/quantum_info/random.py" = ["F401"] # Should be fixed.
