[build-system]
requires = ["setuptools", "wheel", "setuptools-rust"]
build-backend = "setuptools.build_meta"

[tool.black]
line-length = 100
target-version = ['py37', 'py38', 'py39', 'py310']

[tool.cibuildwheel]
manylinux-x86_64-image = "manylinux2014"
manylinux-i686-image = "manylinux2014"
skip = "pp* cp36-* *musllinux*"
test-command = "cd /tmp/qiskit-tests && stestr run"
test-skip = "cp310-win32 cp310-manylinux_i686 cp311-win32 cp311-manylinux_i686"

# We need to use pre-built versions of Numpy and Scipy in the tests; they have a
# tendency to crash if they're installed from source by `pip install`, and since
# Numpy 1.22 there are no i686 wheels, so we force pip to use older ones without
# restricting any dependencies that Numpy and Scipy might have.
before-test = "pip install --only-binary=numpy,scipy numpy scipy"
test-requires = "stestr ddt matplotlib jupyter pylatexenc"
before-all = "mkdir -p /tmp/qiskit-tests && cp -r {project}/test /tmp/qiskit-tests/. && cp .stestr.conf /tmp/qiskit-tests/."

[tool.cibuildwheel.linux]
before-all = "yum install -y wget && {package}/tools/install_rust.sh && cp -r {project}/test/python /tmp/qiskit-tests && cp .stestr.conf /tmp/qiskit-tests/."
environment = 'PATH="$PATH:$HOME/.cargo/bin" CARGO_NET_GIT_FETCH_WITH_CLI="true"'
