coverage>=4.4.0
hypothesis>=4.24.3
ipywidgets>=7.3.0
jupyter
matplotlib>=2.1
nxpd>=0.2
pillow>=4.2.1
pycodestyle
pydot
pylint>=2.3,<2.4
pylintfileheader>=0.0.2
stestr>=2.0.0
PyGithub
wheel
cython>=0.27.1
pillow>=4.2.1
pylatexenc>=1.4
ddt>=1.2.0
seaborn>=0.9.0
reno>=2.11.0