rustworkx>=0.12.0
numpy>=1.17
ply>=3.10
psutil>=5
scipy>=1.5
sympy>=1.3
dill>=0.3
python-dateutil>=2.8.0
stevedore>=3.0.0
symengine>=0.9 ; platform_machine == 'x86_64' or platform_machine == 'aarch64' or platform_machine == 'ppc64le' or platform_machine == 'amd64' or platform_machine == 'arm64'
shared-memory38;python_version<'3.8'
typing-extensions; python_version < '3.8'
singledispatchmethod; python_version < '3.8'

# Hack around stevedore being broken by importlib_metadata 5.0; we need to pin
# the requirements rather than the constraints if we need to cut a release
# before stevedore is fixed.  `importlib_metadata` is not (currently) a direct
# requirement of Terra.
importlib_metadata<5.0; python_version<'3.8'
