# Optional dependencies of Qiskit that can (mostly) reliably be installed with
# `pip`.  This file is still called `requirements-optional.txt` just to match
# standard pip conventions, even though none of these are required.
#
# If updating this, you probably want to update `qiskit.utils.optionals` and
# maybe `pyproject.toml` too.

# Test-runner enhancements.
fixtures
testtools

# Interactivity.
ipython
matplotlib>=3.3
pillow>=4.2.1
pydot
pylatexenc>=1.4
seaborn>=0.9.0

# Functionality and accelerators.
qiskit-aer
qiskit-qasm3-import>=0.5.0
python-constraint>=1.4
cvxpy
scikit-learn>=0.20.0
z3-solver>=4.7
# Tweedledum is unmaintained and its existing Mac wheels are unreliable. If you
# manage to get a working install on a Mac the functionality should still work,
# but as a convenience this file won't attempt the install itself.
tweedledum; python_version<'3.11' and platform_system!="Darwin"
