# Requirements for the tutorials CI run that go beyond the others in `requirements-optional.txt`.
# This may also include some requirements that are only in `requirements-dev.txt`, since those
# aren't runtime dependencies or optionals of Terra.

networkx>=2.2
jupyter
Sphinx
nbsphinx
qiskit_sphinx_theme
pyscf
