@font-face {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 400;
  src: local('IBM Plex Sans'),
    local('IBMPlexSans'),
    url('#{$font-prefix}/IBM-Plex-Sans/fonts/split/woff2/IBMPlexSans-Regular-Greek.woff2') format('woff2');
    unicode-range: U+0384-038A, U+038C, U+038E-03A1, U+03A3-03CE;
}
