[package]
name = "qiskit_accelerate"
version.workspace = true
edition.workspace = true
rust-version.workspace = true
license.workspace = true

[lib]
name = "qiskit_accelerate"
crate-type = ["cdylib"]

[dependencies]
rayon = "1.7"
numpy = "0.19.0"
rand = "0.8"
rand_pcg = "0.3"
rand_distr = "0.4.3"
ahash = "0.8.3"
num-complex = "0.4"
num-bigint = "0.4"
rustworkx-core = "0.13"

[dependencies.pyo3]
workspace = true
features = ["hashbrown", "indexmap", "num-complex", "num-bigint"]

[dependencies.ndarray]
version = "^0.15.6"
features = ["rayon"]

[dependencies.hashbrown]
version = "0.12.3"
features = ["rayon"]

[dependencies.indexmap]
version = "1.9"
features = ["rayon"]
