[package]
name = "qiskit_accelerate"
version.workspace = true
edition.workspace = true
rust-version.workspace = true
license.workspace = true

[lib]
name = "qiskit_accelerate"
crate-type = ["cdylib"]

[features]
# This is a test-only shim removable feature.  See the root `Cargo.toml`.
default = ["extension-module"]
extension-module = ["pyo3/extension-module"]

[dependencies]
rayon = "1.8"
numpy = "0.20.0"
rand = "0.8"
rand_pcg = "0.3"
rand_distr = "0.4.3"
ahash = "0.8.6"
num-traits = "0.2"
num-complex = "0.4"
num-bigint = "0.4"
rustworkx-core = "0.14"

[dependencies.smallvec]
version = "1.13"
features = ["union"]

[dependencies.pyo3]
workspace = true
features = ["hashbrown", "indexmap", "num-complex", "num-bigint"]

[dependencies.ndarray]
version = "^0.15.6"
features = ["rayon"]

[dependencies.hashbrown]
version = "0.14.0"
features = ["rayon"]

[dependencies.indexmap]
version = "2.2.1"
features = ["rayon"]
