$font-prefix: '..' !default;
@font-face {
  font-family: 'IBM Plex Mono';
  font-style: normal;
  font-weight: 300;
  src: local('IBM Plex Mono Light'),
    local('IBMPlexMono-Light'),
    url('#{$font-prefix}/IBM-Plex-Mono/fonts/complete/woff/IBMPlexMono-Light.woff') format('woff');
}

@import 'cyrillic';
@import 'pi';
@import 'latin3';
@import 'latin2';
@import 'latin1';