{%- set external_urls = {
  'github': 'https://github.com/Qiskit/',
  'github_issues': 'https://github.com/Qiskit/qiskit/issues',
  'contributing': 'https://github.com/Qiskit/qiskit/blob/master/CONTRIBUTING.md',
  'docs': 'https://qiskit.org/documentation/',
  'ml': 'https://qiskit.org/documentation/machine-learning/',
  'nature': 'https://qiskit.org/documentation/nature/',
  'finance': 'https://qiskit.org/documentation/finance/',
  'optim': 'https://qiskit.org/documentation/optimization/',
  'experiments': 'https://qiskit.org/documentation/experiments/',
  'partners': 'https://qiskit.org/documentation/partners/',
  'twitter': 'https://twitter.com/qiskit',
  'events': 'https://qiskit.org/events',
  'textbook': 'https://qiskit.org/textbook',
  'slack': 'https://qiskit.slack.com',
  'home': 'https://qiskit.org/',
  'blog': 'https://pytorch.org/blog/',
  'resources': 'https://qiskit.org/learn',
  'support': 'https://pytorch.org/support',
  'youtube': 'https://www.youtube.com/qiskit',
  'iqx': 'https://quantum-computing.ibm.com/',
  'iqx_systems': 'https://quantum-computing.ibm.com/docs/manage/backends/',
  'ibm': 'https://www.ibm.com/quantum-computing/',
}
-%}
