$font-prefix: '..' !default;
@font-face {
  font-family: 'IBM Plex Serif';
  font-style: italic;
  font-weight: 450;
  src: local('IBM Plex Serif Text Italic'),
    local('IBMPlexSerif-TextItalic'),
    url('#{$font-prefix}/IBM-Plex-Serif/fonts/complete/woff/IBMPlexSerif-TextItalic.woff') format('woff');
}

@import 'cyrillic';
@import 'pi';
@import 'latin3';
@import 'latin2';
@import 'latin1';