[package]
name = "qiskit-qasm2"
version.workspace = true
edition.workspace = true
rust-version.workspace = true
license.workspace = true

[lib]
name = "qiskit_qasm2"
crate-type = ["cdylib"]

[dependencies]
hashbrown = "0.13.2"
pyo3.workspace = true
