@font-face {
  font-family: 'IBM Plex Serif';
  font-style: italic;
  font-weight: 100;
  src: local('IBM Plex Serif Thin Italic'),
    local('IBMPlexSerif-ThinItalic'),
    url('#{$font-prefix}/IBM-Plex-Serif/fonts/split/woff2/IBMPlexSerif-ThinItalic-Latin3.woff2') format('woff2');
    unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB;
}
