@font-face {
  font-family: 'IBM Plex Sans Condensed';
  font-style: normal;
  font-weight: 500;
  src: local('IBM Plex Sans Condensed Medium'),
    local('IBMPlexSansCondensed-Medium'),
    url('#{$font-prefix}/IBM-Plex-Sans-Condensed/fonts/split/woff2/IBMPlexSansCondensed-Medium-Latin3.woff2') format('woff2');
    unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB;
}
