[package]
name = "qiskit-cext"
version.workspace = true
edition.workspace = true
rust-version.workspace = true
license.workspace = true

[lib]
name = "qiskit_cext"
doctest = false
crate-type = ["rlib"]

[lints]
workspace = true

[dependencies]
thiserror.workspace = true
num-complex.workspace = true
qiskit-accelerate.workspace = true
qiskit-circuit.workspace = true
pyo3 = { workspace = true, optional = true }

[features]
default = []
python_binding = ["dep:pyo3"]
cbinding = []
