language = "C"
include_version = true
include_guard = "QISKIT_H"
style = "type"
cpp_compat = true
usize_is_size_t = true

# The `Python.h` file is documented as wanting to be the first file included, because it reserves
# the right to define macros that impact the system-header includes.  Putting it here means it comes
# before our include guard, but `Python.h` has its own, so it shouldn't be harmful.
header = """
#ifdef QISKIT_C_PYTHON_INTERFACE
    #include <Python.h>
#endif
"""
# Manually written include files.
includes = [
    "qiskit/version.h",
    "qiskit/attributes.h",
    "qiskit/complex.h",
]

[defines]
"feature = python_binding" = "QISKIT_C_PYTHON_INTERFACE"

[parse]
parse_deps = true
include = ["qiskit-quantum-info", "qiskit-circuit", "qiskit-transpiler"]

[enum]
prefix_with_name = true

[fn]
# These are defined in the custom `qiskit/attributes.h` header file.
deprecated = "Qk_DEPRECATED_FN"
deprecated_with_note = "Qk_DEPRECATED_FN_NOTE({})"

[export]
prefix = "Qk"

[export.rename]
"SparseObservable" = "Obs"
"CSparseTerm" = "ObsTerm"
"CircuitData" = "Circuit"
"DAGCircuit" = "Dag"
"CDagNodeType" = "DagNodeType"
"StandardGate" = "Gate"
"CInstruction" = "CircuitInstruction"
"CDelayUnit" = "DelayUnit"
"CInstructionProperties" = "InstructionProperties"
"CNeighbors" = "Neighbors"
"COperationKind" = "OperationKind"
"CDagNeighbors" = "DagNeighbors"
"CVarsMode" = "VarsMode"
"CBlocksMode" = "BlocksMode"
"CTargetOp" = "TargetOp"
