$font-prefix: '..' !default;
@font-face {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 300;
  src: local('IBM Plex Sans Light'),
    local('IBMPlexSans-Light'),
    url('#{$font-prefix}/IBM-Plex-Sans/fonts/complete/woff/IBMPlexSans-Light.woff') format('woff');
}

@import 'cyrillic';
@import 'pi';
@import 'latin3';
@import 'latin2';
@import 'latin1';
@import 'greek';