.toggle .header {
    display: block;
    clear: both;
    background-color: #785EF0;
    color: #f9f9f9;
    height: 40px;
    padding-top: 10px;
    padding-left: 5px;
    margin-bottom: 20px;
}

.toggle .header:before {
    float: left;
    content: "▶ ";
    font-size: 20px;

}

.toggle .header.open:before {
    float: left;
    content: "▼ ";
    font-size: 20px;
}

.toggle{
  background: #FBFBFB;
}
