$font-prefix: '..' !default;
@font-face {
  font-family: 'IBM Plex Sans Hebrew';
  font-style: italic;
  font-weight: 400;
  src: local('IBM Plex Sans Hebrew Italic'),
    local('IBMPlexSansHebrew-Italic'),
    url('#{$font-prefix}/IBM-Plex-Sans-Hebrew/fonts/complete/woff/IBMPlexSansHebrew-Italic.woff') format('woff');
}

