---
name: C API Tests
on:
  workflow_call:

jobs:
  tests:
    if: github.repository_owner == 'Qiskit'
    name: tests-c-${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-latest
          # Used for the ARM builds.
          - macos-14
          - ubuntu-24.04-arm
          - windows-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-python@v6
        with:
          python-version: "3.13"

      - name: Run tests
        run: make ctest
