name: Qiskit Neko Integration Tests
on:
  push:
  pull_request:
    branches: ['main']
concurrency:
  group: ${{ github.repository }}-${{ github.ref }}-${{ github.head_ref }}-${{ github.workflow }}
  cancel-in-progress: true
jobs:
  neko:
    name: Qiskit Neko Integration Tests
    runs-on: ubuntu-latest
    steps:
      - uses: Qiskit/qiskit-neko@fix-syntax
        with:
          test_selection: terra
