---
# Full PR suite. PRs need to pass this pipeline in order to be moved to the
# merge queue, where they'll use the on-merge-queue workflow for the final
# merge to the base branch.
name: Pull Requests
on:
  pull_request:
    branches: [main, "stable/*"]

concurrency:
  group: ${{ github.repository }}-${{ github.ref }}-${{ github.head_ref }}-${{ github.workflow }}
  cancel-in-progress: true
jobs:
  lint-docs:
    if: github.repository_owner == 'Qiskit'
    name: Docs and Lint
    uses: ./.github/workflows/lint_docs.yml
  main-tests-rust:
    name: Rust Unit Tests
    uses: ./.github/workflows/rust-tests.yml
    if: github.repository_owner == 'Qiskit'
    with:
      python-version: "3.9"
      runner: ubuntu-latest
  main-tests-images:
    name: Image Comparison Tests
    uses: ./.github/workflows/image-tests.yml
    if: github.repository_owner == 'Qiskit'
    with:
      python-version: "3.9"
      runner: ubuntu-latest
  # The rest of the PR pipeline is to test the oldest and newest supported
  # versions of Python.
  main-tests-ubuntu-3-9:
    name: Python Unit Tests
    uses: ./.github/workflows/test-linux.yml
    if: github.repository_owner == 'Qiskit'
    strategy:
      matrix:
        runner: [ubuntu-latest, ubuntu-24.04-arm]
    with:
      python-version: "3.9"
      install-optionals: true
      runner: ${{ matrix.runner }}
  main-tests-ubuntu-3-13:
    if: github.repository_owner == 'Qiskit'
    name: Python Unit Tests
    strategy:
      matrix:
        runner: ["ubuntu-latest", "ubuntu-24.04-arm"]
    uses: ./.github/workflows/test-linux.yml
    with:
      python-version: "3.13"
      install-from-sdist: true
      install-optionals: false
      runner: ${{ matrix.runner }}

  main-tests-mac:
    if: github.repository_owner == 'Qiskit'
    name: Python Unit Tests
    strategy:
      matrix:
        python_version: ["3.9", "3.13"]
        runner: ["macos-13", "macos-14"]
    uses: ./.github/workflows/test-mac.yml
    with:
      python-version: ${{ matrix.python_version }}
      install-optionals: ${{ matrix.python_version == '3.9'}}
      runner: ${{ matrix.runner }}

  main-tests-windows:
    if: github.repository_owner == 'Qiskit'
    name: Python Unit Tests
    strategy:
      matrix:
        python_version: ["3.9", "3.13"]
        runner: ["windows-latest"]
    uses: ./.github/workflows/test-windows.yml
    with:
      python-version: ${{ matrix.python_version }}
      install-optionals: ${{ matrix.python_version == '3.9'}}
      runner: ${{ matrix.runner }}
  c-tests:
    if: github.repository_owner == 'Qiskit'
    name: C API Unit Tests
    uses: ./.github/workflows/ctests.yml
  c-api-binary:
    name: C API Binary
    uses: ./.github/workflows/c-api-binary.yml
