---
# Run on push to main or the stable branches.
name: Push
on:
  push:
    branches: [main, "stable/*"]

jobs:
  test-linux:
    if: github.repository_owner == 'Qiskit'
    uses: ./.github/workflows/test-linux.yml
    with:
      python-version: "3.10"
      install-optionals: false
      runner: ubuntu-latest
  test-rust:
    if: github.repository_owner == 'Qiskit'
    uses: ./.github/workflows/rust-tests.yml
    with:
      python-version: "3.10"
      runner: ubuntu-latest
  test-images:
    if: github.repository_owner == 'Qiskit'
    uses: ./.github/workflows/image-tests.yml
    with:
      python-version: "3.10"
      runner: ubuntu-latest
