---
# Push to main or the stable branches.  The triggering branches also need to
# be in the triggers at the top of this file.
name: Push
on:
  # Remove when proven to work
  pull_request:
  push:
    branches: [main, "stable/*"]

jobs:
  tests-mac:
    if: github.repository_owner == 'Qiskit'
    uses: ./.github/workflows/test-mac.yml
    strategy:
      matrix:
        python-version: ["3.9", "3.13"]
    with:
      python-version: ${{ matrix.python-version }}
      install-optionals: false
  test-linux:
    if: github.repository_owner == 'Qiskit'
    uses: ./.github/workflows/test-linux.yml
    with:
      python-version: "3.9"
      test-rust: true
      test-images: true
      install-optionals: false
